POSICIONES_ENTRENADORES=[1|2,3|7,5|5]
POKEMON_ENTRENADORES=[pikachu|squirtle|pidgey,squirtle|charmander,bulbasaur]
OBJETIVOS_ENTRENADORES=[pikachu|pikachu|squirtle|pidgey,pikachu|charmander|charmander,squirtle|bulbasaur]
TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=2
ALGORITMO_PLANIFICACION=FIFO
QUANTUM=2
ESTIMACION_INICIAL=0
IP_BROKER=127.0.0.1
PUERTO_BROKER=5003
LOG_FILE=src/team.log
IP_TEAM=127.0.0.2
PUERTO_TEAM=5002